---
layout: page
title: Archive
---

All the posts on this site, sorted by date. 

<div class="posts">
  {% for post in site.posts %}
  <hr/>
  <div>
    <h3 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h3>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    <p class="post-excerpt">{{ post.excerpt | strip_html }}&hellip; (<a href="{{ post.url }}">Read More</a>)</p>

    <div>
    <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.id }}"> {{ post.title }} </a>
    </div>
  </div>
  {% endfor %}
</div>

{% include disqus_counts.html %}
{% comment %}
vim: set ft=liquid:
{% endcomment %}
