.hll { background-color: #ffffcc }
 /*{ background: #f0f3f3; }*/
.c { color: #666; } /* Comment */
.err { color: #AA0000; background-color: #FFAAAA } /* Error */
.k { color: #006699; } /* Keyword */
.o { color: #555555 } /* Operator */
.cm { color: #0065a8; font-style: italic } /* Comment.Multiline */
.cp { color: #006b6b } /* Comment.Preproc */
.c1 { color: #666; } /* Comment.Single */
.cs { color: #666; } /* Comment.Special */
.gd { background-color: #FFCCCC; border: 1px solid #CC0000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #b00000 } /* Generic.Error */
.gh { color: #003300; } /* Generic.Heading */
.gi { background-color: #CCFFCC; border: 1px solid #00CC00 } /* Generic.Inserted */
.go { color: #666 } /* Generic.Output */
.gp { color: #000099; } /* Generic.Prompt */
.gs { } /* Generic.Strong */
.gu { color: #003300; } /* Generic.Subheading */
.gt { color: #3d651f } /* Generic.Traceback */
.kc { color: #006699; } /* Keyword.Constant */
.kd { color: #006699; } /* Keyword.Declaration */
.kn { color: #006699; } /* Keyword.Namespace */
.kp { color: #006699 } /* Keyword.Pseudo */
.kr { color: #006699; } /* Keyword.Reserved */
.kt { color: #007788; } /* Keyword.Type */
.m { color: #a33d00 } /* Literal.Number */
.s { color: #b13139 } /* Literal.String */
.na { color: #28658a } /* Name.Attribute */
.nb { color: #336666 } /* Name.Builtin */
.nc { color: #006b55; } /* Name.Class */
.no { color: #336600 } /* Name.Constant */
.nd { color: #5750a3 } /* Name.Decorator */
.ni { color: #666; } /* Name.Entity */
.ne { color: #CC0000; } /* Name.Exception */
.nf { color: #9600bd } /* Name.Function */
.nl { color: #5750a3 } /* Name.Label */
.nn { color: #00658a; } /* Name.Namespace */
.nt { color: #2f6f9f; } /* Name.Tag */
.nv { color: #003333 } /* Name.Variable */
.ow { color: #000000; } /* Operator.Word */
.w { color: #666 } /* Text.Whitespace */
.mf { color: #a33d00 } /* Literal.Number.Float */
.mh { color: #a33d00 } /* Literal.Number.Hex */
.mi { color: #a33d00 } /* Literal.Number.Integer */
.mo { color: #a33d00 } /* Literal.Number.Oct */
.sb { color: #CC3300 } /* Literal.String.Backtick */
.sc { color: #CC3300 } /* Literal.String.Char */
.sd { color: #CC3300; font-style: italic } /* Literal.String.Doc */
.s2 { color: #CC3300 } /* Literal.String.Double */
.se { color: #CC3300; } /* Literal.String.Escape */
.sh { color: #CC3300 } /* Literal.String.Heredoc */
.si { color: #AA0000 } /* Literal.String.Interpol */
.sx { color: #CC3300 } /* Literal.String.Other */
.sr { color: #006b6b } /* Literal.String.Regex */
.s1 { color: #CC3300 } /* Literal.String.Single */
.ss { color: #735900 } /* Literal.String.Symbol */
.bp { color: #336666 } /* Name.Builtin.Pseudo */
.vc { color: #003333 } /* Name.Variable.Class */
.vg { color: #003333 } /* Name.Variable.Global */
.vi { color: #003333 } /* Name.Variable.Instance */
.il { color: #a33d00 } /* Literal.Number.Integer.Long */

.css .o,
.css .o + .nt,
.css .nt + .nt { color: #666; }

.post > .highlight .lineno { color: #666; display:inline-block; padding: 0 5px; }
.post > .highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }
